@use "sass:color";

$primaryColor: rgb(128,146,184);
$primaryDarker: color.adjust($primaryColor, $lightness: -20%);
$primaryDarkest: color.adjust($primaryColor, $lightness: -40%);

$cream: #f7f5e7;
$navBar: color.adjust($primaryColor, $lightness: 15%);

$bodyText: #220e10;

$offWhite: color.adjust($cream, $whiteness: 10%);
$orangish:#ea9629;

$secondaryColor: #c3f600;
$secondaryDarker: color.adjust($secondaryColor, $lightness: -25%);

$tertiaryColor: #b22217;
$tertiaryDarker: #722d19;

$bluesky: rgb(15, 115, 255);
$twitter: #55acee;
$linkedin: #007bb6;
$instagram: #dd2a7b;

$siteBorderRadius: 0.75rem;
$siteBorderRadiusCircle: 50%;
