@use 'colors' as *;

.siteTitle {
	a:link,
	a:visited,
	a:focus,
	a:hover {
		color: $bodyText;
	}

	a:hover,
	a:focus {
		text-decoration: underline;
	}
}

/* masthead */
header.masthead {
	background: $primaryColor;

	h1 {
		display: none;

		small {
			color: $cream;
		}
	}
	
	nav {
		background: $cream;
		height: auto;

		.site-nav__panel,
		.site-nav__inner,
		.site-nav__list,
		.site-nav__list li {
			background-color: $cream;
			padding: 0;
			height: auto;
		}

		.site-nav__inner {
			background: $cream;
			max-width: 75rem;
			margin: 0 auto;
		}

		.site-nav__panel {
			background: $cream;
		}

		.site-nav__list {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.site-nav__list li a {
			padding: 0.75rem 1.5rem;
			margin: 0;
			text-transform: uppercase;
			text-decoration: none;
			display: block;

			&:link,
			&:visited {
				color: $primaryDarkest;
			}

			&:hover,
			&:focus,
			&:active {
				background: $primaryDarkest;
				color: $cream;
			}
		}

		.site-nav__list li.active a {
			background: $primaryDarkest;
			color: $cream;
		}
	}
}

@media screen and (min-width: 40em) {
	header.masthead h1 {
		display:block;
		padding:1em;
	}
}
.site-nav__mobile-bar {
	background: $primaryColor;
	width: 100%;
		padding: 0.5rem;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;

	.site-nav__mobile-title {
		font-size:1.2em;
		
		a {
			color: $bodyText;
		}
	}

	#menu-toggler {
		cursor:pointer;
		display: flex;
		align-items: center;
		margin-left: auto;
	}
	
	.menu-bar-title {
		margin-right:0.5rem;
		text-transform:uppercase;
		color: $cream;
	}
	
	.hamburger-button {
		margin-left:0.25rem;
		font-size:1.2rem;
		stroke:$cream;
		display: inline-flex;
		align-items: center;
	}
}

/* navigation */
#nav-toggle {
	display: none;
}

@media screen and (min-width: 40em) {
	.site-nav__list {
		display: flex;
		flex-wrap: wrap;
	}

	.site-nav__list li {
		flex: 0 0 auto;
	}

	#nav-toggle {
		display: flex;
	}

    .no-js .site-nav__panel {
        display: block;
    }

    .no-js .site-nav__mobile-bar, .site-nav__mobile-bar {
        display: none;
    }
}

