@use 'colors' as *;

* {
	margin: 0;
}
html, body {
	height: 100%;
	background:$cream;
}

:root {
	--cookie-banner-offset: 0px;
}

footer, .push {
	clear:both;
}

.mainContent {
	background-color:$offWhite;
}
