@use 'colors' as *;

body, html {
	color:$bodyText;
	font-family:"Mada","Source Sans Pro","Fira Sans","Trebuchet MS",Arial, Helvetica, sans-serif;
}

code, pre, kbd, samp {
	font-family:"Source Code Pro","Courier New",monospace;
}

a {
	
	&:link, &:visited {
		color:$tertiaryColor;
		fill:$tertiaryColor;
	}
	
	&:hover, &:focus, &:active {
		color:$tertiaryColor;
		fill:$tertiaryColor;
		text-decoration:underline;
		cursor:pointer;
	}
	
	.label:hover, .label:focus, .label:active {
		cursor:pointer;
	}
}
a.label-link {
	text-decoration: none;
}

footer {
	a {
		&:link, &:visited {
			color:$orangish;
		}

		&:hover, &:focus, &:active {
			color:$orangish;
			text-decoration:underline;
		}
	}
}

header nav a, .copyright, header a, .postTitle, h1, h2, h3, h4, h5, h6 {
	font-family:"Mada","Fira Sans","Trebuchet MS",Arial, Helvetica, sans-serif;
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, $offWhite, $primaryColor, $primaryColor, $primaryColor, $offWhite);
}

abbr {
	border-bottom: 1px dotted $bodyText;
	text-decoration: none;
	cursor: help;
	font-variant: small-caps;
}
abbr:not([title]) {
	border-bottom: none;
	cursor: auto;
}

.expand-shortcode {
	border: 1px solid $primaryDarker;
	border-radius: $siteBorderRadius;
	margin: 1rem 0;
	overflow: hidden;
}

.expand-shortcode .collapsible-toggle {
	background: transparent;
	color: inherit;
	cursor: pointer;
	font: inherit;
	font-weight: bold;
	margin: 0;
	outline-offset: 0.5rem;
	text-align: left;

	span {
		padding: 0.5rem;
	}
}

.expand-shortcode .collapsible-toggle.is-open {
	border-bottom: 1px solid $primaryDarker;
}

.expand-shortcode__content {
	padding: 0.5em;
}
