{{ partial "header.html" . }}

<div class="portfolioPage">
	<section>
		<header>
			<div class="section-heading">
				<h1>{{ .Title }}</h1>
			</div>
		</header>
		
		<section class="section-body">
			<div class="portfolioCard portfolioPageCard">
				<div>
					{{ partial "portfoliolabels.html" . }}
				</div>
			</div>
		</section>
		
		<article class="section-body">
			<div class="portfolioCard portfolioPageCard">
				<div>
					{{ .Content }}
				</div>
			</div>
		</article>
		
		{{ $.Scratch.Set "hasPostsAbout" "false" }}
		{{ $p := .Params.project }}
		{{ range .Site.Pages }}
			{{if in .Params.projects $p }}
				{{ $.Scratch.Set "hasPostsAbout" "true" }}
			{{ end }}
		{{ end }}

		{{ $h := $.Scratch.Get "hasPostsAbout" }}
		{{ if eq $h "true" }}
			<section class="listPostsAbout">
				<header>
					<div class="section-heading">
						<h2>Posts about {{ .Title }}</h2>
					</div>
				</header>
				
				<div class="section-body">
						<ol>
							{{ $p := .Params.project }}
							{{ range .Site.Pages }}
								{{ if in .Params.projects $p }}
									{{ partial "postli.html" . }}
								{{ end }}
							{{ end }}
						</ol>
				</div>
			</section>
		{{ end }}
		
		
	</section>&nbsp;

</div>

{{ range .Resources.Match "*.md" }}
<section class="portfolioResource">
	<header>
		<div class="section-heading">
			<h2>{{ .Title }}</h2>
		</div>
	</header>
	
	<div class="section-body">{{ .Content }}</div>
</section>
{{ end }}

{{ partial "footer.html" . }}