footer {
	background:@primaryDarkest;
	font-size:0.8rem;
	color:@cream;
	padding-top:2em;
}

.copyright {
	position:absolute;
	width:100%;
	font-size:0.75rem;
	color:@primaryDarkest;
	padding-top:.1rem;
	
	span {
		display:block;
	}
	
	a {
		color:@primaryDarkest;
	}
}

.backToTop {
	position:fixed;
	right:2rem;
	bottom:0.75rem;
	font-size:3rem;
	opacity:0.75;
	display:none;
	
	a {
		color:@secondaryDarker;

		&:hover, &:focus, &:active {
			color:@orangish;
		}
	}
}

/* social media colors */
.socialmedia {
	a {
		padding:2rem 0.5rem;
	}
}

a.twitter {
	&:hover, &:focus, &:active {
		color:@twitter;
	}
}
a.linkedin {
	&:hover, &:focus, &:active {
		color:@linkedin;
	}
}
a.github {
	&:hover, &:focus, &:active {
		color:@offWhite;
	}
}
a.rss {
	&:hover, &:focus, &:active {
		color:@orangish;
	}
}

.featuredposts {
	header {
		font-size:1.2rem;
	}
}