footer {
	background:@primaryDarkest;
	font-size:0.8rem;
	color:@cream;
	padding-top:1em;
}

.copyright {
	position:absolute;
	width:100%;
	font-size:0.75rem;
	color:@primaryDarkest;
	margin:0;
	padding:0;
	
	span {
		display:block;
	}
}