.sideBox {
	background:@primaryDarkest;
	color:@cream;
	
	a {
		color:@orangish;
	}	
}

@media screen and (max-width:39.9375em) {
	.sticky {
		width:100%;
	}
}

.sideBoxContent {
	display:none;
	padding:0.5rem;
	@media screen and (min-width:40rem) {
		display:block;
	}
}

section header {
	background:@primaryDarker;
	color:@cream;
	font-variant:small-caps;
	padding:.25rem 0;
	
	.column, .columns {
		padding:0 0.5rem;
	}
	
	h1,h2,h3,h4,h5,h6 {
		margin-bottom:0;
	}
}

.prettySidebarBoxes {
	width:100%;
	.sideBox;
	header {
		.sideBox;
		font-variant:small-caps;
		font-size:1.1rem;

		a {
			padding:0.5rem;
			color:@primaryDarkest;
			text-decoration:none;
			background:@orangish;
			display:block;
		}
	}
	nav {
		.sideBox;
		ul, ol {
			list-style-type:none;
		}
	}
	i.fa-chevron-right {
		vertical-align:middle;
	}
}

.sidebar aside {
	.prettySidebarBoxes;
}

.blogbar aside {
	.prettySidebarBoxes;
	
	ul {
		list-style-type:none;
	}
	
	background:@cream;
	color:@bodyText;
	a {
		color:@tertiaryColor;
	}
	header a {
		background:@tertiaryColor;
		color:@cream;
	}
}

.tagCloud ul li {
	display:inline;
}

.postTitle {
	margin-top:0.45rem;
	a {
		color:@primaryDarker;
	}
}

.prevnextpost {
	a {
		text-decoration:none;
		
		i {
			vertical-align:middle;
		}
	}
}

/* labels */
.label {
	background:@primaryDarkest;
	color:@cream;
}

.reddish {
	background:@tertiaryColor;
}

.orangish {
	background:@orangish;
}

.secondaryDarker {
	background:@secondaryDarker;
}

.transparent {
	background:transparent;
	color:@primaryDarkest;
}

/* post types */
.blogListBar {
	background:@cream;
	aside {
		width:25%;
		float:left;
		
		@media screen and (max-width:39.9375em) {
			width:100%;
			
			header a {
				padding:0.25rem;
				
				&:hover, &:focus, &:active {
					background:@tertiaryDarker;
				}
			}
			
			.decoration {
				display:none;
			}
			
			.sideBoxContent {
				padding:0.25rem;
				
				ul, ol {
					margin:0;
					list-style-type:none;
				}
			}
			
			i {
				display:none;
			}
			
		}
		
		
		@media screen and (min-width:40rem) {
			.sideBoxContent {
				display:none;
			}
			
			header a {
				&:hover {
					background:@tertiaryDarker;
				}
			}
		}
	}
}

.typeStatus {
	background:@orangish;
	color:@bodyText;
	font-style:italic;
	
	.statusContent {
		font-size:1.2rem;
	}
	
	.label {
		color:@cream;
		font-style:normal;
	}
	
	.postTitle {
		a:link, a:visited, a:hover, a:focus, a:active {
			color:@bodyText;
		}
	}
	
	.prevnextpost {
		font-style:normal;
	}
	
	.blogbar {
		font-style:normal;
	}
	
	.orangish {
		background:@bodyText;
		color:@orangish;
	}
	
	a:hover, a:focus, a:active {
		color:@tertiaryColor;
	}
}


.postLi {
	font-style:normal;
	a {
		display:block;
		padding:0.5rem;
		width:100%;
		text-decoration:none;
		
		&:hover, &:focus, &:active {
			background:@tertiaryColor;
			color:@cream;
		}
	}

}