body, html {
	color:@bodyText;
	font-family:"Source Sans Pro","Fira Sans","Trebuchet MS",Arial, Helvetica, sans-serif;
}

a {
	&:link, &:visited {
		color:@tertiaryColor;
	}
	
	&:hover, &:focus, &:active {
		color:@orangish;
		text-decoration:underline;
	}
}

footer {
	a {
		&:link, &:visited {
			color:@secondaryColor;
		}

		&:hover, &:focus, &:active {
			color:@secondaryDarker;
			text-decoration:none;
		}
	}
}

header h1, header h2, header nav a, .copyright {
	font-family:"Fira Sans","Trebuchet MS",Arial, Helvetica, sans-serif;
}