body, html {
	color:@bodyText;
	font-family:"Source Sans Pro","Fira Sans","Trebuchet MS",Arial, Helvetica, sans-serif;
}

a {
	
	&:link, &:visited {
		color:@tertiaryColor;
	}
	
	&:hover, &:focus, &:active {
		color:@tertiaryColor;
		text-decoration:underline;
		cursor:pointer;
	}
	
	.label:hover, .label:focus, .label:active {
		cursor:pointer;
	}
}

footer {
	a {
		&:link, &:visited {
			color:@orangish;
		}

		&:hover, &:focus, &:active {
			color:@orangish;
			text-decoration:underline;
		}
	}
}

header nav a, .copyright, header a, .postTitle, h1, h2, h3, h4, h5, h6 {
	font-family:"Fira Sans","Trebuchet MS",Arial, Helvetica, sans-serif;
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}