body,
html {
  color: #220e10;
  font-family: "Source Sans Pro", "Fira Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
a:link,
a:visited {
  color: #b22217;
}
a:hover,
a:focus,
a:active {
  color: #b22217;
  text-decoration: underline;
  cursor: pointer;
}
a .label:hover,
a .label:focus,
a .label:active {
  cursor: pointer;
}
footer a:link,
footer a:visited {
  color: #ea9629;
}
footer a:hover,
footer a:focus,
footer a:active {
  color: #ea9629;
  text-decoration: underline;
}
header nav a,
.copyright,
header a,
.postTitle,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background: #f7f5e7;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -16rem;
}
@media screen and (min-width: 40rem) {
  .wrapper {
    margin: 0 auto -12rem;
  }
}
footer,
.push {
  height: 16rem;
  clear: both;
}
@media screen and (min-width: 40rem) {
  footer,
  .push {
    height: 12rem;
  }
}
.mainContent {
  background-color: #eeeeee;
}
.siteTitle a:link,
.siteTitle a:visited,
.siteTitle a:focus,
.siteTitle a:hover {
  color: #220e10;
}
.siteTitle a:hover,
.siteTitle a:focus {
  text-decoration: underline;
}
/* masthead */
header.masthead {
  background: #8092b8;
}
header.masthead h1 {
  display: none;
}
header.masthead h1 a:link,
header.masthead h1 a:visited,
header.masthead h1 a:focus,
header.masthead h1 a:hover {
  color: #220e10;
}
header.masthead h1 a:hover,
header.masthead h1 a:focus {
  text-decoration: underline;
}
header.masthead h1 small {
  color: #f7f5e7;
}
header.masthead nav {
  background: #f7f5e7;
  height: auto;
}
header.masthead nav .top-bar,
header.masthead nav .top-bar ul,
header.masthead nav .top-bar ul li {
  background-color: #f7f5e7;
  padding: 0;
  height: auto;
}
header.masthead nav .top-bar-left {
  float: none;
  background: #f7f5e7;
}
header.masthead nav .top-bar ul li a {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
}
header.masthead nav .top-bar ul li a:link,
header.masthead nav .top-bar ul li a:visited {
  color: #273145;
}
header.masthead nav .top-bar ul li a:hover,
header.masthead nav .top-bar ul li a:focus,
header.masthead nav .top-bar ul li a:active {
  background: #273145;
  color: #f7f5e7;
}
header.masthead nav .top-bar ul li.active a {
  background: #273145;
  color: #f7f5e7;
}
@media screen and (min-width: 40em) {
  header.masthead h1 {
    display: block;
    padding: 1em;
  }
}
.title-bar {
  background: #8092b8;
  width: 100%;
}
.title-bar a:link,
.title-bar a:visited,
.title-bar a:focus,
.title-bar a:hover {
  color: #220e10;
}
.title-bar a:hover,
.title-bar a:focus {
  text-decoration: underline;
}
.title-bar .title-bar-title {
  margin-right: 0.5rem;
}
.title-bar button {
  margin-left: 0.25rem;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  color: #f7f5e7;
  position: absolute;
  right: 0;
}
/* fix FOUC */
.no-js .top-bar {
  display: none;
}
@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
  .no-js .title-bar {
    display: none;
  }
}
/* navigation */
footer {
  background: #273145;
  font-size: 0.8rem;
  color: #f7f5e7;
  padding-top: 2em;
}
.copyright {
  position: absolute;
  width: 100%;
  font-size: 0.75rem;
  color: #273145;
  padding-top: .1rem;
}
.copyright span {
  display: block;
}
.copyright a {
  color: #273145;
}
.backToTop {
  position: fixed;
  right: 2rem;
  bottom: 0.75rem;
  font-size: 3rem;
  opacity: 0.75;
  display: none;
}
.backToTop a {
  color: #5e7700;
}
.backToTop a:hover,
.backToTop a:focus,
.backToTop a:active {
  color: #ea9629;
}
/* social media colors */
.socialmedia a {
  padding: 2rem 0.5rem;
}
a.twitter:hover,
a.twitter:focus,
a.twitter:active {
  color: #55acee;
}
a.linkedin:hover,
a.linkedin:focus,
a.linkedin:active {
  color: #007bb6;
}
a.github:hover,
a.github:focus,
a.github:active {
  color: #eeeeee;
}
a.rss:hover,
a.rss:focus,
a.rss:active {
  color: #ea9629;
}
.featuredposts header {
  font-size: 1.2rem;
}
.sideBox {
  background: #273145;
  color: #f7f5e7;
}
.sideBox a {
  color: #ea9629;
}
@media screen and (max-width: 39.9375em) {
  .sticky {
    width: 100%;
  }
}
.sideBoxContent {
  display: none;
  padding: 0.5rem;
}
@media screen and (min-width: 40rem) {
  .sideBoxContent {
    display: block;
  }
}
section header {
  background: #4b5e87;
  color: #f7f5e7;
  font-variant: small-caps;
  padding: .25rem 0;
}
section header .column,
section header .columns {
  padding: 0 0.5rem;
}
section header h1,
section header h2,
section header h3,
section header h4,
section header h5,
section header h6 {
  margin-bottom: 0;
}
.prettySidebarBoxes {
  width: 100%;
  background: #273145;
  color: #f7f5e7;
}
.prettySidebarBoxes a {
  color: #ea9629;
}
.prettySidebarBoxes header {
  background: #273145;
  color: #f7f5e7;
  font-variant: small-caps;
  font-size: 1.1rem;
}
.prettySidebarBoxes header a {
  color: #ea9629;
}
.prettySidebarBoxes header a {
  padding: 0.5rem;
  color: #273145;
  text-decoration: none;
  background: #ea9629;
  display: block;
}
.prettySidebarBoxes nav {
  background: #273145;
  color: #f7f5e7;
}
.prettySidebarBoxes nav a {
  color: #ea9629;
}
.prettySidebarBoxes nav ul,
.prettySidebarBoxes nav ol {
  list-style-type: none;
}
.prettySidebarBoxes i.fa-chevron-right {
  vertical-align: middle;
}
.sidebar aside {
  width: 100%;
  background: #273145;
  color: #f7f5e7;
}
.sidebar aside a {
  color: #ea9629;
}
.sidebar aside header {
  background: #273145;
  color: #f7f5e7;
  font-variant: small-caps;
  font-size: 1.1rem;
}
.sidebar aside header a {
  color: #ea9629;
}
.sidebar aside header a {
  padding: 0.5rem;
  color: #273145;
  text-decoration: none;
  background: #ea9629;
  display: block;
}
.sidebar aside nav {
  background: #273145;
  color: #f7f5e7;
}
.sidebar aside nav a {
  color: #ea9629;
}
.sidebar aside nav ul,
.sidebar aside nav ol {
  list-style-type: none;
}
.sidebar aside i.fa-chevron-right {
  vertical-align: middle;
}
.blogbar aside {
  width: 100%;
  background: #273145;
  color: #f7f5e7;
  background: #f7f5e7;
  color: #220e10;
}
.blogbar aside a {
  color: #ea9629;
}
.blogbar aside header {
  background: #273145;
  color: #f7f5e7;
  font-variant: small-caps;
  font-size: 1.1rem;
}
.blogbar aside header a {
  color: #ea9629;
}
.blogbar aside header a {
  padding: 0.5rem;
  color: #273145;
  text-decoration: none;
  background: #ea9629;
  display: block;
}
.blogbar aside nav {
  background: #273145;
  color: #f7f5e7;
}
.blogbar aside nav a {
  color: #ea9629;
}
.blogbar aside nav ul,
.blogbar aside nav ol {
  list-style-type: none;
}
.blogbar aside i.fa-chevron-right {
  vertical-align: middle;
}
.blogbar aside ul {
  list-style-type: none;
}
.blogbar aside a {
  color: #b22217;
}
.blogbar aside header a {
  background: #b22217;
  color: #f7f5e7;
}
.tagCloud ul li {
  display: inline;
}
.postTitle {
  margin-top: 0.45rem;
}
.postTitle a {
  color: #4b5e87;
}
.prevnextpost a {
  text-decoration: none;
}
.prevnextpost a i {
  vertical-align: middle;
}
/* labels */
.label {
  background: #273145;
  color: #f7f5e7;
}
.reddish {
  background: #b22217;
}
.orangish {
  background: #ea9629;
}
.secondaryDarker {
  background: #5e7700;
}
.transparent {
  background: transparent;
  color: #273145;
}
/* post types */
.blogListBar {
  background: #f7f5e7;
}
.blogListBar aside {
  width: 25%;
  float: left;
}
@media screen and (max-width: 39.9375em) {
  .blogListBar aside {
    width: 100%;
  }
  .blogListBar aside header a {
    padding: 0.25rem;
  }
  .blogListBar aside header a:hover,
  .blogListBar aside header a:focus,
  .blogListBar aside header a:active {
    background: #722d19;
  }
  .blogListBar aside .decoration {
    display: none;
  }
  .blogListBar aside .sideBoxContent {
    padding: 0.25rem;
  }
  .blogListBar aside .sideBoxContent ul,
  .blogListBar aside .sideBoxContent ol {
    margin: 0;
    list-style-type: none;
  }
  .blogListBar aside i {
    display: none;
  }
}
@media screen and (min-width: 40rem) {
  .blogListBar aside .sideBoxContent {
    display: none;
  }
  .blogListBar aside header a:hover {
    background: #722d19;
  }
}
.typeStatus {
  background: #ea9629;
  color: #220e10;
  font-style: italic;
}
.typeStatus .statusContent {
  font-size: 1.2rem;
}
.typeStatus .label {
  color: #f7f5e7;
  font-style: normal;
}
.typeStatus .postTitle a:link,
.typeStatus .postTitle a:visited,
.typeStatus .postTitle a:hover,
.typeStatus .postTitle a:focus,
.typeStatus .postTitle a:active {
  color: #220e10;
}
.typeStatus .prevnextpost {
  font-style: normal;
}
.typeStatus .blogbar {
  font-style: normal;
}
.typeStatus .orangish {
  background: #220e10;
  color: #ea9629;
}
.typeStatus a:hover,
.typeStatus a:focus,
.typeStatus a:active {
  color: #b22217;
}
.postLi {
  font-style: normal;
}
.postLi a {
  display: block;
  padding: 0.5rem;
  width: 100%;
  text-decoration: none;
}
.postLi a:hover,
.postLi a:focus,
.postLi a:active {
  background: #b22217;
  color: #f7f5e7;
}
.portfolio {
  background: #4b5e87;
  color: #f7f5e7;
}
.portfolioCard {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0rem;
}
.portfolioCard div {
  background: #f7f5e7;
  color: #4b5e87;
  padding: 1rem;
  height: 100%;
}
@media screen and (min-width: 40rem) {
  .portfolioCard {
    padding: 1rem;
  }
}
.portfolioPage {
  background: #273145;
  color: #f7f5e7;
}
.portfolioPage header {
  background: #4b5e87;
}
.portfolioPage .portfolioCard {
  color: #273145;
}
.listPostsAbout header {
  background: #ea9629;
  color: #273145;
}
.listPostsAbout ol {
  margin-top: 1rem;
}
.listPostsAbout ol a {
  color: #ea9629;
}
form .button {
  background: #4b5e87;
  color: #f7f5e7;
}
form .button:focus,
form .button:hover,
form .button:active {
  background: #8092b8;
}
.required i {
  color: #b22217;
}
.hidden {
  display: none;
}
