<section class="postLi">
	<a href="{{ .Permalink }}">{{ .Title }} / {{ .Date.Format "Mon, Jan 2, 2006" }} / {{if eq .ReadingTime 1}}1&nbsp;minute{{else}}{{ .ReadingTime }}&nbsp;minutes{{end}}&nbsp;long&nbsp;{{ .Params.sort }}</a>
</section> 