{{ partial "header.html" . }}

{{ partial "blogbar.html" . }}

<section>
	<header>
        <div class="section-heading">
            <h2>
                {{ if eq .Kind "term" }}
                    {{ .Data.Singular }} :: {{ .Title }}
                {{ else }}
                    {{ .Title }}
                {{ end }}
            </h2>
        </div>
	</header>
	
    <div class="section-body">
            {{ if eq .Kind "term" }}
                <p>See all <a href="/{{ .Data.Plural }}">{{ .Data.Plural }}</a>.</p>
                <ul>
                    {{ range .Data.Pages }}
                        {{ partial "postli.html" . }}
                    {{ end }}
                </ul>
            {{ else }}
                <ul>
                    {{ range .Data.Terms.Alphabetical }}
                        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
                    {{ end }}
                </ul>
            {{ end }}
    </div>
</section>

{{ partial "footer.html" . }}