{{ partial "header.html" . }}

{{ partial "blogbar.html" . }}

<section>
	<header>
		<div class="section-heading">
			<h2>{{ .Data.Singular }} :: {{ .Title }}</h2>
		</div>
	</header>

    <div class="section-body">
        <p>See all <a href="/{{ .Data.Plural }}">{{ .Data.Plural }}</a>.</p>
        <ul>
            {{ range .Data.Pages }}
                {{ partial "postli.html" . }}
            {{ end }}
        </ul>
    </div>
    <div class="section-body">&nbsp;</div>
	
</section>

{{ partial "footer.html" . }}