{{ if eq .Kind "page" }}
<div class="small-12 medium-3 columns blogbar">
	<div>
{{ else }}
<div class="blogbar blogListBar">
	<div class="clearfix">
{{ end }}
		<aside>
			<header class="sideBoxHeader"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Archives <i class="fa fa-chevron-right" aria-hidden="true"></i></a></header>
			<div class="sideBoxContent">
				<ul>
					{{ range $value := .Site.RegularPages.GroupByDate "2006" }}
						{{ $url := (index $value.Pages 0).Date.Format "2006" | urlize }}
						<li>
							<a href="/archive/#{{ $url }}">{{ .Key }}</a>
						</li>
					{{ end }}
				</ul>
			</div>
		</aside>
		
		<aside>
			<header class="sideBoxHeader"><a href="#"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;<span class="decoration">Post </span>Varieties <i class="fa fa-chevron-right" aria-hidden="true"></i></a></header>
			<div class="sideBoxContent">
				<ul>
					{{ range $k := .Site.Params.varieties }}
						<li><a href="/varieties/{{ $k | urlize }}">{{ $k }}</a></li>
					{{ end }}
				</ul>
			</div>
		</aside>
		
		<aside>
			<header class="sideBoxHeader"><a href="#"><i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp;Categories <i class="fa fa-chevron-right" aria-hidden="true"></i></a></header>
			<div class="sideBoxContent">
				<ul>
					{{ range .Site.Params.categories }}		
						<li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
		</aside>
		
		<aside class="tagCloud">
			<header class="sideBoxHeader"><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>&nbsp;Tags <i class="fa fa-chevron-right" aria-hidden="true"></i></a></header>
			<div class="sideBoxContent">
				<ul>
					{{ range $name, $t := .Site.Taxonomies.tags  }}
						<li><a href="/tags/{{ $name | urlize }}">{{ $name }}</a></li>
					{{ end }}
				</ul>
			</div>
		</aside>
		
	</div>

</div>