{{ if eq .Kind "page" }}
<div class="small-12 medium-3 columns blogbar">
	<div>
{{ else }}
<div class="blogbar blogListBar">
	<div class="clearfix">
{{ end }}
		<aside>
			<header class="sideBoxHeader"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Archives <i class="fa fa-chevron-right" aria-hidden="true"></i></a></header>
			<div class="sideBoxContent">
				<ul>
					{{ range $value := .Site.RegularPages.GroupByDate "January 2006" }}
						{{ $url := (index $value.Pages 0).Date.Format "2006/01" | urlize }}
						<li><a href="/blog/{{ $url }}">{{ .Key }}</a></li>
					{{ end }}
				</ul>
			</div>
		</aside>
		
		<aside>
			<header class="sideBoxHeader"><a href="#"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;<span class="decoration">Post </span>Types <i class="fa fa-chevron-right" aria-hidden="true"></i></a></header>
			<div class="sideBoxContent">
				<ul>
					{{ range $k := .Site.Params.sorts }}
						<li><a href="/blog/type/{{ $k | urlize }}">{{ $k }}</a></li>
					{{ end }}
				</ul>
			</div>
		</aside>
		
		<aside>
			<header class="sideBoxHeader"><a href="#"><i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp;Categories <i class="fa fa-chevron-right" aria-hidden="true"></i></a></header>
			<div class="sideBoxContent">
				<ul>
					{{ $r := .Site.Taxonomies.categories }}
					{{ $p := .Site.RegularPages }}
					{{ range .Site.Params.categories }}
						{{ $posts := where $p "Type" "blog" }}
						{{ $n := . | urlize }}
						<!-- (re)set the counter to 0 -->
						{{ $.Scratch.Set "catCounter" 0 }}
						<!-- increment counter if post contains the current tag-->
						{{ range $posts }}
							{{ if in $r $n }}
								{{ $.Scratch.Add "catCounter" 1 }}
							{{ end }}
						{{ end }}
						
						<li><a href="/blog/category/{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
		</aside>
		
		<aside class="tagCloud">
			<header class="sideBoxHeader"><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>&nbsp;Tags <i class="fa fa-chevron-right" aria-hidden="true"></i></a></header>
			<div class="sideBoxContent">
				<ul>
					{{ range $name, $t := .Site.Taxonomies.tags  }}
						<li><a href="/blog/tag/{{ $name | urlize }}">{{ $name }}</a></li>
					{{ end }}
				</ul>
			</div>
		</aside>
		
	</div>

</div>