      </div>
      <div class="push"></div>
    </div>
    
    <footer>
      <div class="row">
        
        <aside class="small-12 medium-4 columns">
          <p>Made with HTML5, CSS3, <a href="https://code.visualstudio.com/">Visual Studio Code</a>, <a href="http://foundation.zurb.com/">Foundation&nbsp;6</a>, <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>, and <a href="http://gohugo.io/">Hugo</a>. Hosted by <a href="https://www.aerobatic.com/">Aerobatic</a>&mdash;take a look at the <a href="https://bitbucket.org/jessicahuynh/jessicahuynh">repo</a>!</p>
        </aside>
        
        <aside class="small-12 medium-4 columns featuredposts">
          <header>Recent posts</header>
          <ul>
            {{ range first 6 (where .Site.Pages "Section" "blog") }}
              {{ if ne .Title "Blog" }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
            {{ end }}
           </ul>
        </aside>
        
        <aside class="small-12 medium-4 columns socialmedia text-center">
            <a href="http://twitter.com/jessicahhuynh" class="twitter"><i class="fa fa-twitter fa-3x"></i></a>
            <a href="http://www.linkedin.com/in/jessicahhuynh" class="linkedin"><i class="fa fa-linkedin-square fa-3x"></i></a>
            <a href="http://github.com/jessicahuynh" class="github"><i class="fa fa-github fa-3x"></i></a>
            <a href="{{ .RSSlink }}" class="rss"><i class="fa fa-rss fa-3x"></i></a>
          </ul>
        </aside>
        
      </div>
      
    </footer>
    
    <p class="copyright">
      <span class="text-center">&copy; <a href="http://jessicahuynh.info/">Jessica Huynh</a>, 2012&ndash;{{ .Now.Year }}</span>
    </p>
    
    <div class="backToTop">
      <a href="#"><i class="fa fa-chevron-circle-up" title="To the top of the page"></i></a>
    </div>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <!--<script src="js/vendor/what-input.min.js"></script>-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    
    {{ if .IsPage }}
    {{ if eq .Type "contact" }}
    <script type="text/javascript">     
      $('label.required').each(function() {
        $(this).find('input').before('&nbsp;<i class=\"fa fa-asterisk\" aria-hidden=\"true\"></i>');
        $(this).find('textarea').before('&nbsp;<i class=\"fa fa-asterisk\" aria-hidden=\"true\"></i>');
      });
      
      $('#contact-form').submit(function(e) {
        e.preventDefault();
        
        if ($('input.hidden').val() == '') {
            $.ajax({
              type:"POST",
              url:"https://zapier.com/hooks/catch/1292593/u13i29/?name="+$("input#name").val()+"&email="+$("input#email").val()+"&subject="+$("input#subject").val()+"&message="+$("textarea#message").val()
            });
          
            $('#successfulSubmission').css('display','block');
            $("input#name").val('');
            $("input#email").val('');
            $("input#subject").val('');
            $("textarea#message").val('');
        }
      });
    </script>
    {{ end }}
    {{ end }}
    <script type="text/javascript" src="/js/onloadcss.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-34043400-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>