<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="{{ .Hugo.Generator }}" />
    <title>{{if not .IsHome}}{{ .Title }} :: {{end}}{{ .Site.Title }}</title>
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    
    <link href="/css/styles.css" rel="stylesheet">
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="preload" as="style" onload="this.rel='stylesheet'" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous">
    
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Fira+Sans" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" as="style" onload="this.rel='stylesheet'">  
    
  </head>
  <body lang="en">
    <div class="wrapper">
      <header class="masthead">
        <h1><a href="/">{{ .Site.Title }}</a> <small>{{ .Site.Params.subtitle }}</small></h1>
        
        <nav>
          <div class="title-bar" data-responsive-toggle="navBar" data-hide-for="medium">
            <div class="title-bar-title"><a href="/">{{ .Site.Title }}</a></div>
            <button type="button" data-toggle>
              <i class="fa fa-bars" aria-hidden="true" title="skip to main navigation"></i>
              <span class="sr-only">Skip to main navigation</span>
            </button>
          </div>  

          <div class="top-bar row" id="navBar">
            <div class="top-bar-left small-12">
              <ul class="dropdown menu vertical medium-horizontal" data-dropdown-menu>
                {{if .IsHome}}
                  {{ range .Site.Menus.main }}
                    <li><a href="{{.URL}}">{{.Name}}</a></li>
                  {{ end }}
                {{else}}
                  <!--list pages-->
                  {{ if .IsNode }}
                    {{ $currentNode := . }}
                    {{ range .Site.Menus.main }}
                      <li{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} class="active"{{end}}><a href="{{.URL}}">{{ .Name }}</a></li>
                    {{ end }}
                  <!--single content pages-->
                  {{ else }}
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                      <li{{if or (eq $currentPage.Type .Identifier) (eq $currentPage.Title .Identifier) }} class="active"{{end}}><a href="{{.URL}}">{{.Name}}</a></li>
                    {{ end }}
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>
          
        </nav>
      </header>
      
      <div class="mainContent">