<hr>
<section class="row prevnextpost">
	<div class="small-6 columns">
		{{ if .PrevInSection }}
			{{ if ne .PrevInSection.Title "Blog" }}
			<p>
				<a href="{{.PrevInSection.Permalink}}">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" role="img" width="1em" height="1em" style="vertical-align: -0.2em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
						<title>Previous post</title>
						<path d="M19.03 4.28l-11 11l-.686.72l.687.72l11 11l1.44-1.44L10.187 16l10.28-10.28l-1.437-1.44z" />
					</svg>
					{{ .PrevInSection.Title }}
				</a>
			</p>
			{{ end }}
		{{ end }}
	</div>
	<div class="small-6 columns">
		{{ if .NextInSection }}
			{{ if ne .NextInSection.Title "Blog" }}
			<p class="text-right">
				<a href="{{.NextInSection.Permalink}}">
					{{.NextInSection.Title}}
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" role="img" width="1em" height="1em" style="vertical-align: -0.2em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
						<title>Next post</title>
						<path d="M12.97 4.28l-1.44 1.44L21.814 16L11.53 26.28l1.44 1.44l11-11l.686-.72l-.687-.72l-11-11z" />
					</svg>
				</a>
			</p>
			{{ end }}
		{{ end }}
	</div>
</section>