<hr>
<section class="row prevnextpost">
	<div class="small-6 columns">
		{{ if .PrevInSection }}
			{{ if ne .PrevInSection.Title "Blog" }}
			<p><a href="{{.PrevInSection.Permalink}}"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;{{ .PrevInSection.Title }}</a></p>
			{{ end }}
		{{ end }}
	</div>
	<div class="small-6 columns">
		{{ if .NextInSection }}
			{{ if ne .NextInSection.Title "Blog" }}
			<p class="text-right"><a href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}}&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a></a>
			{{ end }}
		{{ end }}
	</div>
</section>