<a href="/archive/#{{ .Date.Format "2006" }}"><span class="label"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{if eq .Params.type "status"}}Status&nbsp;on&nbsp;{{end}}{{ .Date.Format "Mon, Jan 2, 2006" }}</span></a>

<span class="secondaryDarker label"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{if eq .ReadingTime 1}}1&nbsp;minute{{else}}{{ .ReadingTime }}&nbsp;minutes{{end}}</span>

{{ range .Params.types }}
	<a href="{{ "/types/" | absURL }}{{ . | urlize }}"><span class="orangish label"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;{{ . }}</span></a>
{{ end }}

{{ range .Params.categories }}
	<a href="{{ "/categories/" | absURL }}{{ . | urlize }}"><span class="reddish label"><i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp;{{ . }}</span></a>
{{ end }}

{{ range .Params.tags }}
	<a href="{{ "/tags/" | absURL }}{{ . | urlize }}"><span class="transparent label"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{ . }}</span></a>
{{ end }}
