{{ partial "header.html" . }}

<section>
	<header>
		<div class="row">
			<div class="small-12 columns">
				<h2>&hellip;</h2>
			</div>
		</div>
	</header>
	
	<div class="row">
		<div class="small-12 medium-9 medium-centered columns">
			{{ .Content }}
		</div>
	</div>
</section>

<section>
	<header>
		<div class="row">
			<div class="small-12 columns">
				<h2>Recent posts</h2>
			</div>
		</div>
	</header>
	
	{{ range $index, $element := first 6 (where .Site.RegularPages "Section" "blog") }}
		{{ if ne $index 0 }}
			{{ if eq $element.Params.sort "post" }}
			<div>
			{{ else }}
				{{ if eq $element.Params.sort "status" }}
			<div class="typeStatus">
				{{ end }}
			{{ end }}
			
				<div class="row">
					<div class="small-12 medium-9 medium-centered columns">
		
			{{ if eq $index 1 }}   
				{{ .Render "summary" }}
			{{ else }} 
				{{ .Render "li" }}
			{{ end }}
					
					</div>
				</div>
			
			</div>
		{{ end }}
	{{ end }}
</section>

{{ partial "footer.html" . }}