{{ partial "header.html" . }}

<section>
	<header>
		<div class="section-heading">
			<h2>&hellip;</h2>
		</div>
	</header>
	
	<div class="section-body--narrow">
		{{ .Content }}
	</div>
</section>

<section>
	<header>
		<div class="section-heading">
			<h2>Recent posts</h2>
		</div>
	</header>
	
	{{ range $index, $element := first 6 (where .Site.RegularPages "Section" "blog") }}

			{{ if or (in $element.Params.types "post") (in $element.Params.types "recipe") }}
			<div>
			{{ else }}
				{{ if in $element.Params.types "status" }}
			<div class="typeStatus">
				{{ end }}
			{{ end }}
			
				<div class="section-body--narrow">
		
			{{ if eq $index 0 }}
				{{ .Render "summary" }}
			{{ else }} 
				{{ .Render "li" }}
			{{ end }}
					
				</div>
			
			</div>
		
	{{ end }}
</section>

{{ partial "footer.html" . }}