.portfolio {
	background:@primaryDarker;
	color:@cream;
}

.portfolioCard {
	margin-top:1rem;
	margin-bottom:1rem;
	padding:0rem;
	div {
		background:@cream;
		color:@primaryDarker;
		padding:1rem;
		height:100%;
	}
	
	@media screen and (min-width:40rem) {
		padding:1rem;
	}
}

.portfolioPage {
	background:@primaryDarkest;
	color:@cream;
	
	header {
		background:@primaryDarker;
	}
	
	.portfolioCard {
		color:@primaryDarkest;
	}
}

.listPostsAbout {
	header {
		background:@orangish;
		color:@primaryDarkest;
	}
	
	ol {
		margin-top:1rem;
		
		a {
			color:@orangish;
		}
	}
}