{{ partial "header.html" . }}

<article>
	<section>
		<header>
			<div class="row">
				<div class="small-12 columns">
					<h2>{{ .Title }}</h2>
				</div>
			</div>
		</header>
		
		<div class="row">&nbsp;</div>
		
		<div class="row">
			<div class="small-12 medium-4 columns">
				<aside>
					{{ .Content }}
				</aside>
			</div>
			<div class="small-12 medium-8 columns">
				<form data-abide novalidate id="contact-form">
					<div data-abide-error class="alert callout" style="display: none;">
						<p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> There are some errors in your form submission!</p>
					</div>
					
					<div class="row">
						<div class="medium-6 columns">
							<label class="required">Name
								<input type="text" placeholder="john smith" required id="name" name="name">
							</label>
						</div>
						<div class="medium-6 columns">
							<label class="required">Email
								<input type="email" placeholder="abc@xyz.com" required id="email" name="email">
								<span class="form-error">
									A valid email address is required so that I can contact you.
								</span>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<label class="required">Subject
								<input type="text" placeholder="request" required id="subject" name="subject">
							</label>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<label class="required">Message
								<textarea rows="5" required id="message" name="message"></textarea>
							</label>
						</div>
					</div>
					<div class="row">
						<fieldset class="small-12 columns">
							<input type="text" placeholder="request" id="h" name="h" class="hidden">
							<button class="button" type="submit" value="Submit">Submit</button>
						</fieldset>
					</div>
					
					<div data-abide-error class="success callout" style="display: none;" id="successfulSubmission">
						<p><i class="fa fa-heart" aria-hidden="true"></i> Successful submission!</p>
					</div>
				</form>
			</div> 
		</div>
	</section>
</article>

{{ partial "footer.html" . }}