<table>
    <thead>
        <tr>
            <th>Week</th>
            <th>Day</th>
            <th>Interval</th>
            <th>Total Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="3">Week 1</td>
            <td>Day 1</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Repeat 8x:
                        <ul>
                            <li>Jog (1 minute)</li>
                            <li>Walk (1.5 minutes)</li>
                        </ul>
                    </li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>30 minutes</td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Repeat 8x:
                        <ul>
                            <li>Jog (1 minute)</li>
                            <li>Walk (1.5 minutes)</li>
                        </ul>
                    </li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>30 minutes</td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Repeat 8x:
                        <ul>
                            <li>Jog (1 minute)</li>
                            <li>Walk (1.5 minutes)</li>
                        </ul>
                    </li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>30 minutes</td>
        </tr>
        <tr>
            <td rowspan="3">Week 2</td>
            <td>Day 1</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Repeat 6x:
                        <ul>
                            <li>Jog (1.5 minutes)</li>
                            <li>Walk (2 minutes)</li>
                        </ul>
                    </li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>31 minutes</td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Repeat 6x:
                        <ul>
                            <li>Jog (1.5 minutes)</li>
                            <li>Walk (2 minutes)</li>
                        </ul>
                    </li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>31 minutes</td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Repeat 6x:
                        <ul>
                            <li>Jog (1.5 minutes)</li>
                            <li>Walk (2 minutes)</li>
                        </ul>
                    </li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>31 minutes</td>
        </tr>
        <tr>
            <td rowspan="3">Week 3</td>
            <td>Day 1</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Repeat 2x:
                        <ul>
                            <li>Jog (1.5 minutes)</li>
                            <li>Walk (1.5 minutes)</li>
                            <li>Jog (3 minutes)</li>
                            <li>Walk (3 minutes)</li>
                        </ul>
                    </li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>28 minutes</td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Repeat 2x:
                        <ul>
                            <li>Jog (1.5 minutes)</li>
                            <li>Walk (1.5 minutes)</li>
                            <li>Jog (3 minutes)</li>
                            <li>Walk (3 minutes)</li>
                        </ul>
                    </li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>28 minutes</td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Repeat 2x:
                        <ul>
                            <li>Jog (1.5 minutes)</li>
                            <li>Walk (1.5 minutes)</li>
                            <li>Jog (3 minutes)</li>
                            <li>Walk (3 minutes)</li>
                        </ul>
                    </li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>28 minutes</td>
        </tr>
        <tr>
            <td rowspan="3">Week 4</td>
            <td>Day 1</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (3 minutes)</li>
                    <li>Walk (1.5 minutes)</li>
                    <li>Jog (5 minutes)</li>
                    <li>Walk (2.5 minutes)</li>
                    <li>Jog (3 minutes)</li>
                    <li>Walk (1.5 minutes)</li>
                    <li>Jog (5 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>31.5 minutes</td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (3 minutes)</li>
                    <li>Walk (1.5 minutes)</li>
                    <li>Jog (5 minutes)</li>
                    <li>Walk (2.5 minutes)</li>
                    <li>Jog (3 minutes)</li>
                    <li>Walk (1.5 minutes)</li>
                    <li>Jog (5 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>31.5 minutes</td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (3 minutes)</li>
                    <li>Walk (1.5 minutes)</li>
                    <li>Jog (5 minutes)</li>
                    <li>Walk (2.5 minutes)</li>
                    <li>Jog (3 minutes)</li>
                    <li>Walk (1.5 minutes)</li>
                    <li>Jog (5 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>31.5 minutes</td>
        </tr>
        <tr>
            <td rowspan="3">Week 5</td>
            <td>Day 1</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (5 minutes)</li>
                    <li>Walk (3 minutes)</li>
                    <li>Jog (5 minutes)</li>
                    <li>Walk (3 minutes)</li>
                    <li>Jog (5 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>31 minutes</td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (8 minutes)</li>
                    <li>Walk (5 minutes)</li>
                    <li>Jog (8 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>31 minutes</td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (20 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>30 minutes</td>
        </tr>
        <tr>
            <td rowspan="3">Week 6</td>
            <td>Day 1</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (5 minutes)</li>
                    <li>Walk (3 minutes)</li>
                    <li>Jog (8 minutes)</li>
                    <li>Walk (3 minutes)</li>
                    <li>Jog (5 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>34 minutes</td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (10 minutes)</li>
                    <li>Walk (3 minutes)</li>
                    <li>Jog (10 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>33 minutes</td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (22 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>32 minutes</td>
        </tr>
        <tr>
            <td rowspan="3">Week 7</td>
            <td>Day 1</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (25 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>35 minutes</td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (25 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>35 minutes</td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (25 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>35 minutes</td>
        </tr>
        <tr>
            <td rowspan="3">Week 8</td>
            <td>Day 1</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (28 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>38 minutes</td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (28 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>38 minutes</td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (28 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>38 minutes</td>
        </tr>
        <tr>
            <td rowspan="3">Week 9</td>
            <td>Day 1</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (30 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>40 minutes</td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (30 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>40 minutes</td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>
                <ul>
                    <li>Warm Up (5 minutes)</li>
                    <li>Jog (30 minutes)</li>
                    <li>Cool Down (5 minutes)</li>
                </ul>
            </td>
            <td>40 minutes</td>
        </tr>
    </tbody>
</table>