{{ partial "header.html" . }}

{{ partial "blogbar.html" . }}

<section>
    <header>
        <div class="section-heading">
            <h2>{{ .Title }}</h2>
        </div>
	</header>

    <div class="section-body">
        {{ .Content }}
    </div>

    <div class="section-body">
            {{ $prev := 3000}}
            {{ range .Site.RegularPages }}
                {{ if .Date }}
                    {{ if gt $prev (.Date.Format "2006") }}
                        {{ if ne $prev 3000 }}
                            </table>
                        {{ end }}
                        <h3 id="{{ .Date.Format "2006" }}">{{ .Date.Format "2006" }}</h3>
                        <table>
                    {{ end }}
                    <tr>
                        <td width="20%">{{ .Date.Format "Jan 02" }}</td>
                        <td><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Params.ongoing }} (portfolio project page){{ end }}</td>
                    </tr>
                    {{ $prev = .Date.Format "2006" }}
                {{ end }}
            {{ end }}
            </table>
    </div>
</section>


{{ partial "footer.html" . }}