{{ partial "header.html" . }}

{{ partial "blogbar.html" . }}

{{ range .Data.Pages }}

	{{ if in .Params.types "post" }}
		<div id="blogList">
	{{ else }}
		{{ if in .Params.types "status" }}
			<div class="typeStatus" id="blogList">
		{{ else }}
			{{ if in .Params.types "recipe" }}
				<div id="blogList" class="typeRecipe">
			{{ end }}
		{{ end }}
	{{ end }}
	
		<div class="row">
			<div class="small-12 medium-9 medium-centered columns">
				{{ .Render "summary" }}
			</div>
		</div>

	</div>

{{ end }}


{{ partial "footer.html" . }}