{{ partial "header.html" . }}

{{ partial "blogbar.html" . }}

{{ range .Data.Pages }}

	{{ if eq .Params.sort "post" }}
		<div id="blogList">
	{{ else }}
		{{ if eq .Params.sort "status" }}
			<div class="typeStatus" id="blogList">
		{{ end }}
	{{ end }}
	
		<div class="row">
			<div class="small-12 medium-9 medium-centered columns">
				{{ .Render "summary" }}
			</div>
		</div>

	</div>

{{ end }}


{{ partial "footer.html" . }}