{{ partial "header.html" . }}

<section>
	<header>
		<div class="row">
			<div class="small-12 columns">
				<h2>{{ .Title }}</h2>
			</div>
		</div>
	</header>
	
	<div class="portfolio">
		<div class="row">
			<p class="small-12 columns">Some things I've done.</p>
		</div>
		
		<div class="row">
			{{ range .Data.Pages }}
				<section class="small-12 medium-6 columns portfolioCard">
					<h3><a href="{{ .Permalink}}">{{ .Title }}</a></h3>
					<p>{{ .Summary }}</p>
					
					{{ if .Params.ongoing}}
						<span class="label secondaryDarker">ongoing</span>
					{{ else }}
						<span class="label reddish">concluded</span>
					{{ end }}
				</section>
			{{ end }}
		</div>
		
		<div class="row">&nbsp;</div>
	</div>
	
</section>

{{ partial "footer.html" . }}