{{ partial "header.html" . }}

<section class="portfolio">
	<header>
		<div class="row">
			<div class="small-12 columns">
				<h2>{{ .Title }}</h2>
			</div>
		</div>
	</header>
	
	<div>
		<div class="row">
			<div class="small-12 columns">{{ .Content }}</div>
		</div>
		
		<div class="row small-up-1 medium-up-2 large-up-3" data-equalizer data-equalize-by-row="true">
			{{ range .Data.Pages }}
				<section data-equalizer-watch class="column portfolioCard">
					<div>
						<h3><a href="{{ .Permalink}}">{{ .Title }}</a></h3>
						<p>{{ .Summary }}</p>
						<aside>
							{{ partial "portfoliolabels.html" . }}
						</aside>
					</div>
				</section>
			{{ end }}
		</div>
		<div class="row">&nbsp;</div>
	</div>
	
</section>

{{ partial "footer.html" . }}